﻿@{
    string type = "0"; // Model.Contact.Aux1;  //"0,3,2,1,1,5"; --> Array of numbers, based on banner, key reports banner, preheader text, intro paragraph, sales manager title, sales manager contact details

     // string[] newauxdata = auxdata.Split(',');


     string[] business = {
                         "Exterior",
                         "Interior",
                         "Timber"
                    };
                    

}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <title>Travis Perkins</title>
    <style type="text/css">
        body[yahoo] body {
            width: 100% ;
            margin: 0 auto !important;
            padding: 0px !important;
            -webkit-text-size-adjust: none;
        }

        body[yahoo] table {
            border-collapse: collapse;
            margin: 0px !important;
            padding: 0px !important;
        }

        body[yahoo] .Mobile {
            display: none;
            display: none !important;
            width: 0px;
            max-height: 0px;
            overflow: hidden;
        }

        body[yahoo] .address a {
            color: #959595 !Important;
            text-decoration: none !Important;
        }

        body[yahoo] span.preheader {
            display: none !important;
        }

        body[yahoo] a.disable-link {
            pointer-events: none;
            cursor: default;
        }

		 body[yahoo] .bodymobile {
			 width:100%;
		 }

		 body[yahoo] .hidetitle{
		 	font-size:0px;
			width:0px;
			height:0px;
			display:none;
		 }

		 body[yahoo] .preheader-mobile{
		 	width:0px!important;
			height:0px!important;
			display:none!important;
		 }

        @@media only screen and (max-width: 480px) {


          /*  body[yahoo] .image_size {
                width: 100%;
                max-width: 380px;
                text-align: center !important;
                height: auto !important;
            }

            body[yahoo] .image_sizecol {
                width: 200px;
                max-width: 300px !important;
                text-align: center !important;
                height: auto !important;
            }


            body[yahoo] #desktophide {
                width: 0px !important;
                height: 0px !important;
                display: none !important;
            }

            body[yahoo] #imagenone {
                width: 0px !important;
                height: 0px !important;
                display: none !important;
            }

            body[yahoo] #mobilewidth {
                width: 300px !important;
                max-width: 300px !important;
                margin: auto;
                display: block !important;
                text-align: center !important;
            }

            body[yahoo] #mobilewidthcol {
                width: 300px;
                border-right-width: 0px;
                border-right-style: 0px;
                border-right-color: 0px;
                max-width: 300px !important;
                display: block !important;
                text-align: center !important;
            }

            body[yahoo] #mobilewidthmore {
                width: 100% !important;
                display: block !important;
                text-align: center;
            }

            body[yahoo] .mobilecontent {
                width: 100%;
                max-width: 300px !important;
            }

            body[yahoo] a[class="disable-link"] {
                pointer-events: auto !important;
                cursor: auto !important;
            }

            body[yahoo] .ios-table {
                overflow: hidden;
                position: relative;
            }

            body[yahoo] .ios-table-fix {
                bottom: -1px;
                left: -1px;
                position: absolute;
                right: -1px;
                top: -1px;
                z-index: 1;
            }

            body[yahoo] .bodymobile {
                width: 300px !important;
                margin: 0 auto !important;
				max-wdith:300px!important;
            }
			*/

				body{
				width:300px!important;
				max-width:300px!important;
				margin:0 auto!important;
			}

			 body[yahoo] #mobilewidth {
                width: 300px !important;
                max-width: 300px !important;
                margin: auto;
                display: block !important;
                text-align: center !important;
            }

			body[yahoo] .mainimageresize{
				width:300px!important;
				height:275px!important;
			}

			body[yahoo] .hidethis{
				width:0px!important;
				height:0px!important;
				display:none!important;
			}

			body[yahoo] .productresize{
				width:300px!important;
				height:100px!important;
			}

			 body[yahoo] .hidetitle{
				font-size:16px !important;
				font-weight:bold !important;
				text-align:center !important;
				color:#000000 !important;
				display:block!important;
				font-family:Arial, Helvetica, sans-serif!important;
				width:300px!important;
				height:30px!Important;
			 }

			 body[yahoo] .icons{
				width:300px!important;
				displaY:block!important;
			 }
			 body[yahoo] .manresize{
				width:300px!important;
				height:180px!important;
			 }

			 body[yahoo] .textaligncenter{
			 	text-align:center!important;
			 }

			 body[yahoo] .preheader-mobile{
				font-family:Helvetica, Arial, sans-serif!important;
				color:#FFFFFF!important;
				font-size:10px!important;
				text-align:center!important;
				display:block!important;
				width:100%!important;
				height:25px!Important;
				line-height:30px!Important;
			 }

			 body[yahoo] .logo{
				border-top-width:10px!Important;
				border-bottom-width:10px!Important;
			 }
        }
    </style>
</head>
<body yahoo="fix" style="padding:0px; margin:0px;" class="bodymobile">
    <table width="100%" id="mobilewidth" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" id="mobilewidth">
                    <tr>
                        <td align="center" bgcolor="#004731">
                            <table id="mobilewidth" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="2" class="preheader-mobile" align="right" style="width:0px; height:0px; display:none; font-size:0px;">To proceed without cookies <a href="[nonTrackingLink]" style="color:#FFFFFF; text-decoration:none;">click here</a></td>
                                </tr>
                                <tr>
                                    <td id="mobilewidth" class="logo" align="center" style="border-top-width:20px; border-top-style:solid; border-top-color:#004731; border-bottom-width:20px; border-bottom-style:solid; border-bottom-color:#004731;"><img style="font-family:Helvetica, Arial, sans-serif; color:#FFFFFF; font-size:40px; text-align:center; line-height:50px; background-color:#004731" src="images/1457_trade_03.jpg" width="286" height="62" alt="Travis Perkins" /></td>
                                    <td id="mobilewidth">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                            <tr>
                                                <td class="hidethis" align="right" style="border-bottom-width:8px; border-bottom-style:solid; border-bottom-color:#004731;"><span style="font-family:Helvetica, Arial, sans-serif; color:#FFFFFF; font-size:10px;">To proceed without cookies <a href="[nonTrackingLink]" style="color:#FFFFFF; text-decoration:none;">click here</a></span></td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="textaligncenter" width="100%" style="border-bottom-width:8px; border-bottom-style:solid; border-bottom-color:#004731;"><span style="font-family:Helvetica, Arial, sans-serif; color:#FFFFFF; font-size:14px;">Call your local branch</span></td>
                                            </tr>
                                            <tr>
                                                <td align="right" class="textaligncenter"><strong><span style="font-family:Helvetica, Arial, sans-serif; font-size:34px; color:#f6b112;">0000 000 0000</span></strong></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#f6b112" style="border-top-width:20px; border-top-style:solid; border-top-color:#f6b112; border-bottom-width:20px; border-bottom-style:solid; border-bottom-color:#f6b112;">
                            <table id="mobilewidth" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="312" id="mobilewidth" align="left"><strong><span style="font-family:Helvetica, Arial, sans-serif; color:#004731; font-size:12px;">Find your local branch</span></strong></td>
                                    <td width="288" id="mobilewidth"><img style="display:block;" border="0" src="images/1457_trade_08.jpg" width="288" height="33" alt="" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#f2f2f2" style="border-top-width:10px; border-top-style:solid; border-top-color:#f2f2f2;">
                            <table border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                                <tr>
                                    <td>
    @{
        switch (Html.Raw((string)business.GetValue(Int32.Parse(type))).ToString())
        {
            case "Exterior":
                <text>
                                        <a href="http://www.travisperkins.co.uk/offers/JuneTO-Timber?f24_pid=[ContactGUID]" style="text-decoration:none;">
                                            <img class="mainimageresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/hero_banner.jpg " width="600" height="535" alt="" />

                                    </text>


                break;
            case "Interior":
                                    <text>
                                        <img class="mainimageresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/hero_banner.jpg " width="600" height="535" alt="" />
                                    </text>
                break;
            case "Timber":
                                    <text>
                                        <img class="mainimageresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/hero_banner.jpg " width="600" height="535" alt="" />
                                    </text>
                break;

        }
                                    }



</td> 
                                    
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#FFFFFF" style="border-top-width:10px; border-top-style:solid; border-top-color:#FFFFFF;">
                            <table id="mobilewidth" width="600" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="352" align="left" valign="middle" id="mobilewidth">
                                        <span style="font-family:Helvetica, Arial, sans-serif; color:#343739; font-size:26px; font-weight:bold;">
                                            <br>
                                            Hello [FirstName],<br>
                                            Check out our Champion July Trade Offers.
                                        </span><br>
                                        <br>
                                    </td>
                                    <td width="248"><img class="hidethis" style="display:block;" border="0" src="images/1457_trade_16.jpg" width="248" height="180" alt="" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="mobilewidth" align="left"><span style="font-family:Helvetica, Arial, sans-serif; color:#343739; font-size:18px; font-weight:bold;"> Football is well and truly under way and so are our great Trade Offers. We have some champion deals for all your building material needs, so it's be a shame to miss out!. </span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="left" height="20" style="font-size:20px; height:20px; line-height:20px;"></td>
                                </tr>
                            </table>
                           
                            

@{
    switch ( Html.Raw((string)business.GetValue(Int32.Parse(type))).ToString() )
    {
        case "Exterior":
            <text>
                <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                    <tr>
                        <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.travisperkins.co.uk/p/hanson-cotswold-buff-maxipack/579530/4893662?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_1.jpg" width="600" height="180" alt="" /></a></td>
                    </tr>
                    <tr>
                        <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                    </tr>
                </table>
                <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                    <tr>
                        <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.travisperkins.co.uk/p/fischer-dec-premium-express-cement-grey-310ml/270899/3893445?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_2.jpg" width="601" height="180" alt="" /></a></td>
                    </tr>
                    <tr>
                        <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                    </tr>
                </table>
                <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                    <tr>
                        <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.travisperkins.co.uk/offers/JuneTO-Workwear?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_3.jpg" width="601" height="180" alt="" /></a></td>
                    </tr>
                    <tr>
                        <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                    </tr>
                </table>
            </text>


            break;
        case "Interior":
        <text>
               <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
                <tr>
                    <td><a href="http://www.travisperkins.co.uk/p/swiftec-antinox-black-recycled-2mm-protection-boards-24m-x-12m/478848/3893435?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_1.jpg" width="600" height="180" alt="" /></a></td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
            </table>
            <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
                <tr>
                    <td><a href="http://www.travisperkins.co.uk/p/dulux-trade-undercoat-paint-brilliant-white-25-litre/821160/3893394?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_2.jpg" width="601" height="180" alt="" /></a></td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
            </table>
            <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
                <tr>
                    <td><a href="http://www.travisperkins.co.uk/p/4trade-cotton-twill-dustsheet-twin-pack-36m-x-27m/693401/3893398?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_3.jpg" width="601" height="180" alt="" /></a></td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
            </table>
                            </text>
            break;
        case "Timber":
       <text>
               <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
                <tr>
                    <td><a href="http://www.travisperkins.co.uk/p/conditioned-oriented-strand-board-osb-3-bba-18-x-2440-x-1220mm-ce-fsc/803928/3893615?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_1.jpg" width="600" height="180" alt="" /></a></td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
            </table>
            <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
                <tr>
                    <td><a href="http://www.travisperkins.co.uk/offers/JuneTO-Powertools-and-Accessories?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_2.jpg" width="601" height="180" alt="" /></a></td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
            </table>
            <table width="600" class="image_size" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
                <tr>
                    <td><a href="http://www.travisperkins.co.uk/offers/JuneTO-Workwear?f24_pid=[ContactGUID]" style="text-decoration:none;"><img class="productresize" style="display:block;" border="0" src="images/@Html.Raw((string)business.GetValue( Int32.Parse( type ) ) )/product_3.jpg" width="601" height="180" alt="" /></a></td>
                </tr>
                <tr>
                    <td height="10" style="font-size:10px; height:10px; line-height:10px;"></td>
                </tr>
            </table>
                            </text>
            break;

    }
}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#f6b112" style="border-top-width:10px; border-top-style:solid; border-top-color:#FFFFFF;">
                            <table width="600" id="mobilewidth" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center">
                                        <table width="47" id="mobilewidth" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="border-bottom-width:25px; border-bottom-style:solid; border-bottom-color:#F6B112;"><img class="hidethis" style="display:block;" border="0" src="images/1457_trade_27.jpg" width="47" height="26" alt="" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img class="hidethis" style="display:block;" border="0" src="images/1457_trade_30.jpg" width="602" height="52" alt="" /></td>
                                </tr>
                                <tr>
                                    <td class="hidetitle" style="width:0px; height:0px; font-size:0px; display:none;">
                                        Why not visit your local branch today
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                                            <tr>
                                                <td width="77%" align="left" id="mobilewidth">
                                                    <span style="font-family:Helvetica, Arial, sans-serif; color:#000000; font-size:14px;">
                                                        <strong>Your local branch is </strong><br>
                                                        <br>
                                                    </span><span style="font-family:Helvetica, Arial, sans-serif; color:#000000; font-size:16px; font-weight:bold;">
                                                        <p>
                                                            [PB Name]<br>
                                                            [PB Post Code]<br>
                                                            <br>
                                                        </p>
                                                        <p>
                                                            Get directions<br>
                                                            <br>
                                                        </p>
                                                        <p>
                                                            Branch Manger: [PB Manager Name]<br>
                                                            Tel: [PB Telephone No]<br>
                                                            Fax: [Customer Parent Branch Fax N]<br>
                                                            Email: [Customer Parent Branch Mailbox]
                                                        </p>
                                                    </span><br>
                                                </td>
                                                <td><img class="hidethis" style="display:block;" border="0" src="images/1457_trade_33.jpg" width="261" height="271" alt="" /></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="center" style="border-bottom-width:50px; border-bottom-style:solid; border-bottom-color:#F6B112">
                                                    <table width="182" border="0" align="left" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td id="mobilewidth"><img style="display:block;" border="0" src="images/1457_trade_35.jpg" width="182" height="36" alt="" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table id="mobilewidth" width="550" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" id="mobilewidthcol" class="icons">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center"><img class="image_sizecol" style="display:block;" border="0" src="images/1457_trade_40.jpg" width="154" alt="" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td id="mobilewidthcol" align="center" class="icons">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center"><img class="image_sizecol" style="display:block;" border="0" src="images/1457_trade_42.jpg" width="152" height="251" alt="" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="center" id="mobilewidthcol" class="icons">
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="center"><img class="image_sizecol" style="display:block;" border="0" src="images/1457_trade_44.jpg" width="153" height="262" alt="" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="602" border="0" cellspacing="0" cellpadding="0" class="manresize">
                                <tr>
                                    <td><img class="manresize" style="display:block;" border="0" src="images/1457_trade_49.jpg" width="602" height="355" alt="" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#f2f2f2">
                            <table width="600" border="0" cellspacing="0" cellpadding="0" id="mobilewidth">
                                <tr>
                                    <td align="center">
                                        <table width="52" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td><img class="hidethis" style="display:block;" border="0" src="images/1457_trade_51.jpg" width="52" height="28" alt="" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30" style="font-size:30px; height:30px; line-height:30px;"></td>
                                </tr>
                                <tr>
                                    <td class="manresize"><img class="manresize" style="display:block;" border="0" src="images/1457_trade_54.jpg" width="602" height="361" alt="" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="#FFFFFF" style="border-top-width:30px; border-top-style:solid; border-top-color:#FFFFFF;">
                            <table width="600" id="mobilewidth" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" id="mobilewidth">
                                        <span style="font-family:Helvetica, Arial, sans-serif; color:#878787; font-size:12px;">
                                            <strong>Travis Perkins</strong><br>
                                            <br>
                                            <strong>Registered office:</strong><br>
                                            Lodge Way House,  Lodge Way,  Harlestone Road,  Northampton  NN5 7UG<br>
                                            Registered in England No: 00824821 VAT registration number: 408556737<br>
                                            <br>
                                            To ensure future emails from us are delivered to your inbox and not treated as spam, please add us to your email address book or safe list. If you wish to unsubscribe from this service, please
                                            <a href="http://link1.force24.co.uk/emails/unsubscribe/[emailContactId]/[encodedEmail]" style="color:#878787; text-decoration:none;">click here.</a>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
